# Ignorar carpeta de entorno virtual
venv/
.env

# Ignorar archivos compilados de Python
__pycache__/
*.pyc

# Ignorar archivos de sistema y VS Code
.DS_Store
.vscode/

# Ignorar PDFs de prueba
*.pdf

# Ignorar claves
api_key.txt
